:root {
    --primaryColor: #343c3c;
    --buttonHeader: #656d70;
    --buttonSubmit: #007bff;
    --sizeTittle: 36px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

/* Header Style */

.container-header {
    background-color: var(--primaryColor);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.titulo-header a {
    color: #ffff;
}

.opcoes-header {
    display: flex;
    gap: 1em;
    list-style: none;
}

.button-header {
    color: var(--buttonHeader);
    cursor: pointer;
    border: none;
}

.button-header:hover {
    text-decoration: underline;
}

.titulo-header a,
.button-header {
    text-decoration: none;
}

/* Footer Style */

.container-footer {
    background-color: var(--primaryColor);
    color: #ffff;
    width: 100%;
    padding: 1em;
    text-align: center;
}

/* Home Style */

.container-home,
.container-cadastrarContato,
.container-editarContato,
.container-authLogado,
.container-autenticacao {
    padding: 1em 0;
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.container-home {
    background-color: #f4f6f8;
}

.container-home h1,
.container-cadastrarContato h1,
.container-editarContato h1,
.container-autenticacao h1 {
    font-size: var(--sizeTittle);
}

.container-home table {
    width: 100%;
    max-width: 1200px;
    border-collapse: separate;
    border-spacing: 0 8px;
}

.container-home table tbody tr {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.container-home table td {
    padding: 1em;
}

.container-home table td:nth-child(1),
.container-home table td:nth-child(2) {
    max-width: 200px;
    word-wrap: break-word;
    white-space: normal;
}

.container-home table td:nth-child(3) {
    max-width: 350px;
    word-wrap: break-word;
    white-space: normal;
}

.container-home table tbody td {
    background-color: white;
}

.container-home table tbody td:first-child {
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
}

.container-home table tbody td:last-child {
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
}

.container-home table td:nth-child(4),
.container-home table thead td:nth-child(5) {
    text-align: center;
}

/* Opções do contato */

.td-opcoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.button-editar,
.button-excluir {
    color: white;
    padding: 4px 10px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.button-editar {
    background-color: var(--buttonSubmit);
}

.button-excluir {
    background-color: #dc3545;
}

.button-editar:hover {
    background-color: #0056b3;
}

.button-excluir:hover {
    background-color: #c82333;
}

.container-home table,
.button-excluir {
    font-size: 20px;
}

/* Cadastrar Contato Style */

.form-contato {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    max-width: 450px;
}

.container-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.container-input input {
    width: 100%;
    padding: 0.75em;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: border-color 0.3s;
}

.container-input input:focus {
    border-color: var(--buttonSubmit);
    outline: none;
}

.button-submit {
    background-color: var(--buttonSubmit);
    color: white;
    border: none;
    padding: 0.75em 1.5em;
    font-size: 1em;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-submit:hover {
    background-color: #0056b3;
}

/* AuthView Style */

.container-conteudo {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.container-forms {
    display: flex;
    gap: 2em;
}

.section-register,
.section-login,
.form-register,
.form-login {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.section-register,
.section-login {
    width: 50%;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 2em;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.section-register .button-submit,
.section-login .button-submit {
    width: fit-content;
}

/* messages Style */

.container-message {
    padding: .5em;
    border-radius: .5em;
}

.message-error {
    background-color: #dc3545;
    color: #ffffff;
    padding: 12px 16px;
    border-radius: 6px;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.message-sucess {
    background-color: #28a745;
    color: #ffffff;
    padding: 12px 16px;
    border-radius: 6px;
    font-weight: bold;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}