<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agenda</title>
</head>

<body>
    <header>
        <h1 class="titulo-header">
            <a href="/">Agenda</a>
        </h1>
        <ul class="nav-header">
            <% if(!user){ %>
                <li><a href="/auth/index" class="button-header">Entrar</a></li>
            <% } else {%>
                    <li><a href="/contato/index" class="button-header">Adicionar Contato</a></li>
                    <li><a href="/auth/logout" class="button-header">Sair</a></li>
            <% } %>
        </ul>
    </header>