<%-include('includes/header.ejs')%>
    <div class="container">
        <div class="container-auth">
            <h1><%=user.email%> esta logado no sistema!</h1>
            <%-include('includes/messages.ejs')%>
        </div>
    </div>
<%-include('includes/footer.ejs')%>