<%-include('includes/header.ejs')%>
    <div class="container-authLogado">
        <h1>
            <strong  style="color: #007bff"><%=user.email%></strong> jรก esta logado no sistema!
        </h1>
        <%-include('includes/messages.ejs')%>
    </div>
<%-include('includes/footer.ejs')%>