    <%-include('includes/header.ejs')%>
    <section class="container">
        <h1>Cadastrar contato</h1>
        <form action="/contato" method="post" class="form-contato">
            <%-include('includes/messages.ejs')%>
            <input type="hidden" name="_csrf" value=<%=csrfToken %>>
            <div class="container-input">
                <label>Nome</label>
                <input class='input' type="text" name="nome" placeholder="Digite seu nome" >
            </div>
            <div class="container-input">
                <label>Sobrenome</label>
                <input class='input' type="text" name="sobrenome" placeholder="Digite seu sobrenome">
            </div>
            <div class="container-input">
                <label>E-mail</label>
                <input class='input' type="email" name="email" placeholder="Digite seu e-mail">
            </div>
            <div class="container-input">
                <label>Telefone</label>
                <input class='input' type="tel" name="telefone" placeholder="Digite seu telefone">
            </div>
            <button class="button-submit">Criar Contato</button>
        </form>
    </section>
    <%-include('includes/footer.ejs')%>